<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "br.com.multidadosti.pluginsms"
        version   = "1.0.0"
        versionCode="100"
>
    
    <!-- rudi 07/10/2015 a versao mais nova (5.2) do cordova crashava no android em qqer tentativa de carregar recursos externos (js, etc)-->
    <!-- forçando versao antiga -->
    <!-- rudi 13/10/2015 : <preference name="phonegap-version" value="cli-5.2.0" /> -->
    <!-- <preference name="phonegap-version" value="3.7.0" /> -->
    <preference name="phonegap-version" value="cli-5.2.0" />
    <!-- rudi 9/10/2015 webview novo : <gap:plugin name="org.crosswalk.engine" version="1.3.0" source="pgb" /> -->
    <!-- crosswalk alegadamente soh melhora performance em android abaixo de 4.1
        <gap:plugin name="org.crosswalk.engine" version="1.3.0" source="pgb" />
    -->
    
    <!-- rudi 14/10/2015 setar versao minima do sdk do android para backward compat (android 2.3+)) -->
    <preference name="android-minSdkVersion" value="10" />
    
    <name>pluginsms</name>
    
    <description>pluginsms</description>
    
    <author href="https://multidadosti.com.br" email="rudi.feijo@multidadosti.com.br">Multidados TI</author>
    
    <access origin="*" />
    
    <!-- rudi 9/10/2015 precisa desse plugin de whitelist e essas configs pra funcionar no pgb 5.2+  -->
    <gap:plugin name="cordova-plugin-whitelist" version="1.0.0" source="npm" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="ftp://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="*" /> 

    <!-- https://www.npmjs.com/package/cordova-plugin-sms -->
    <plugin name="cordova-plugin-sms" source="npm" />
    
    <plugin name="com.ionic.keyboard" spec="1.0.3" source="pgb" />
    <plugin name="com.eightz.mobile.cordova.plugin.android.referrer" spec="1.0.0" source="pgb" />
    <plugin name="hu.dpal.phonegap.plugins.spinnerdialog" spec="0.1.5" source="pgb" />
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
    <plugin name="com.phonegap.plugins.pushplugin" spec="2.5.0" source="pgb" />
    <plugin name="org.apache.cordova.geolocation" spec="0.3.12" source="pgb" />
    
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" /> 
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <preference name="stay-in-webview" value="true" />
    
    <plugin name="org.apache.cordova.dialogs" spec="0.3.0" source="pgb" />
    <feature name="Vibration">
        <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
    </feature>
    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>
     
    <gap:plugin name="org.apache.cordova.network-information" source="npm" />
    <feature name="NetworkStatus" value="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
        <param name="ios-package" value="CDVConnection" />
    </feature>

    <preference name="orientation" value="portrait" />

    <plugin name="org.apache.cordova.splashscreen" spec="1.0.0" source="pgb" />
    <feature name="SplashScreen" value="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="true"/>
    <preference name="FadeSplashScreen" value="false"/>
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="7000" />
  
    <!-- o systray do wp8 da overlap, fullscreen resolve isso -->
    <platform name="wp8">
        <preference name="fullscreen" value="true"/>
    </platform>
    <platform name="ios">
        <preference name="fullscreen" value="false"/>
    </platform>
    <platform name="android">
        <preference name="fullscreen" value="false"/>
    </platform>
    
    <!--
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashScreen" value="splash" />
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="ShowSplashScreenSpinner" value="true"/>
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
    
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    
    <gap:plugin name="org.apache.cordova.media-capture" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
    
    <gap:plugin name="org.apache.cordova.device-orientation" version="0.3.9" />
    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />

    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="org.apache.cordova.contacts" version="0.2.13" />
    <gap:plugin name="org.apache.cordova.console" version="0.2.11" />
    
    <feature name='Device'>        
        <param name='ios-package' value='CDVDevice'/>    
    </feature>
    <feature name='Accelerometer'>        
        <param name='ios-package' value='CDVAccelerometer'/>    
    </feature>
    <feature name='Compass'>        
        <param name='ios-package' value='CDVLocation'/>    
    </feature>
    <feature name='Media'>        
        <param name='ios-package' value='CDVSound'/>    
    </feature>
    <feature name='Camera'>        
        <param name='ios-package' value='CDVCamera'/>    
    </feature>
    <feature name='Contacts'>        
        <param name='ios-package' value='CDVContacts'/>    
    </feature>
    <feature name='File'>        
        <param name='ios-package' value='CDVFile'/>    
    </feature>
    <feature name='FileTransfer'>        
        <param name='ios-package' value='CDVFileTransfer'/>    
    </feature>
    <feature name='Capture'>        
        <param name='ios-package' value='CDVCapture'/>    
    </feature>
    <feature name='Battery'>        
        <param name='ios-package' value='CDVBattery'/>    
    </feature>
    <feature name='Echo'>        
        <param name='ios-package' value='CDVEcho'/>    
    </feature>
    -->
    <feature name='Globalization'>        
        <param name='ios-package' value='CDVGlobalization'/>    
    </feature>
    <feature name='InAppBrowser'>        
        <param name='ios-package' value='CDVInAppBrowser'/>    
    </feature>
    <feature name='Logger'>        
        <param name='ios-package' value='CDVLogger'/>    
    </feature>
    <feature name='LocalStorage'>        
        <param value='CDVLocalStorage' name='ios-package'/>    
    </feature>
    <feature name='Geolocation'>
        <param name='ios-package' value='CDVLocation'/>    
    </feature>
    
    <preference value='true' name='AllowInlineMediaPlayback'/>
    <preference value='false' name='MediaPlaybackRequiresUserAction'/>
    <preference value='true' name='OpenAllWhitelistURLsInWebView'/>
    
    <preference value='cloud' name='BackupWebStorage'/>
    <preference value='false' name='DisallowOverscroll'/>
    <preference value='false' name='EnableViewportScale'/>
    <preference value='false' name='HideKeyboardFormAccessoryBar'/>
    <preference value='true' name='KeyboardDisplayRequiresUserAction'/>
    <preference value='false' name='KeyboardShrinksView'/>
    <preference value='false' name='SuppressesIncrementalRendering'/>
    <preference value='gray' name='TopActivityIndicator'/>
    <preference value='0' name='GapBetweenPages'/>
    <preference value='0' name='PageLength'/>
    <preference value='page' name='PaginationBreakingMode'/>
    <!-- page, column -->
    <preference value='unpaginated' name='PaginationMode'/>
		
    <icon src="icon.png" />
     
    <splash src="splash.png" />
    

</widget>
